@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    scroll-behavior: smooth;
}

body {
    font-family: 'Josefin Sans', sans-serif;
}

@media screen and (min-width: 500px) {
    .w-lg-25 {
        width: 25% !important;
    }    
}

.footer {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 5px 8px;
    background: #FFFFFF;
    box-shadow: -1px -1px 10px rgb(165, 162, 162);
    border-radius: 5px 0 0 5px;
    font-size: small;
}
 
.footer a {
    font-weight: bolder;
    text-decoration: none;
}